:root {
  --color-primary:#E3B748;
  --color-black:#121212;
  --color-white:#ffffff;
  --color-secondary:#1D1D1D;
  --color-box:#474747;
}
body{
  background-color: var(--color-black);
  font-family: "Poppins",sans-serif;
  color: var(--color-white);

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
}


