:root {
  --color-primary:#cf9455;
  --color-black:#121212;
  --color-white:#ffffff;
}
body{
  background-color: var(--color-black);
  font-family: "Poppins",sans-serif;
  color: var(--color-white);

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
}


