.header {
    font-size: 54px;
    font-weight: 600;
    text-align: center;
}

.wrapper {
    padding: 80px;
    display: flex;
    width: auto;
    flex-wrap: wrap;
    gap: 20px;
    div {
        position: relative;
    }
    
}

/* .img {
    position: relative;
} */


.business {
    position: absolute;
    left: 300px;
    bottom: 20px;
    font-weight: 600;
    font-size: 24px;
}
.partenership {
    position: absolute;
    left: 70px;
    bottom: 20px;
    font-weight: 600;
    font-size: 24px;
}
.realestate {
    position: absolute;
    left: 70px;
    bottom: 20px;
    font-weight: 600;
    font-size: 24px;
}
.business2 {
    position: absolute;
    left: 300px;
    bottom: 20px;
    font-weight: 600;
    font-size: 24px;
}
.landlord {
    position: absolute;
    left: 300px;
    bottom: 20px;
    font-weight: 600;
    font-size: 24px;
}
.elder {
    position: absolute;
    left: 90px;
    bottom: 20px;
    font-weight: 600;
    font-size: 24px;
}